Cell 1 — Kernel & Version Check

In [1]:
import sys
print(sys.version)

3.11.9 (tags/v3.11.9:de54cf5, Apr  2 2024, 10:12:12) [MSC v.1938 64 bit (AMD64)]

Cell 2 — Imports

In [2]:
import pandas as pd
from pathlib import Path

Cell 3 — Define Paths (AFAP Style)

In [3]:
RAW = Path("../data/raw")
CLEANED = Path("../data/cleaned")

Cell 4 — Load All Datasets

In [4]:
financials = pd.read_csv(CLEANED / "Kenya_Airways.csv")

Cell 5 — Quick Structural Checks (No Logic)

In [5]:


financials.head()

         Company  Year  FS Category           FS Subcategory   Amount
0  Kenya Airways  2021       Assets           Current Assets   25,685
1  Kenya Airways  2021       Assets       Non-Current Assets  129,870
2  Kenya Airways  2021       Assets                Inventory    2,152
3  Kenya Airways  2021  Liabilities      Current Liabilities   80,965
4  Kenya Airways  2021  Liabilities  Non-Current Liabilities  157,927

Cell 6 — Sanity Assertions

In [6]:

assert financials.shape[0] > 0

assert "Company" in financials.columns
assert "Year" in financials.columns